HTTP status code for partial responses

Transferred from https://github.com/graphql/graphql-wg/issues/916

Any thoughts on defining a dedicated HTTP Status code like 206 or 207 for partial successful responses, instead of only returning status 200 with an error array?

Or would be a new 2xx code a more useful status?

This really interests me, so thank you for kicking this idea off! ✌️ I'd love to add some notes to move this along into a discussion:

I believe reusing `206 Partial Content` is tricky since it already seems to be strictly defined and tied to range requests: https://datatracker.ietf.org/doc/html/rfc7233#section-4.1

A `207 Multi-status` response doesn't seem to be as strictly defined, but it still sounds like by default the specifications expect the response body to eventually contain multiple other HTTP status codes and locations to individual resources: https://datatracker.ietf.org/doc/html/rfc4918#section-13

In general, I think in some cases it could be desirable to add a special 2xx status code for partially failed responses specifically. However, I think this will always tie in with the intent of the error. Personally, if I was to implement these codes I'd have a high emphasis on indicating cacheability of the response.
In my personal projects I'd always prefer to provide an HTTP status code along with a GraphQL error when no content was delivered, so from my perspective the partial error case is indeed not well covered by the HTTP status code as of now.

But it's even hard to choose a default in my opinion:
- Providing a 4xx or 5xx code when an empty payload is sent and at least one error provides it seems valid
- Providing 2xx when some data _and_ errors have been delivered seems valid

But, beyond a `Cache-Control` header, are we really providing more information with a special code for the latter part? Which use-cases would be enabled with a new code for this case?

It would be a first step to actually send 4xx/5xx on empty `data` attribute. The non 200 response code for partial responses would primarily help for debugging in a browser's network tab.

Latest spec text reads:

> If the GraphQL response contains the {data} entry and it is not {null}, then the server MUST reply with a 2xx status code and SHOULD reply with 200 status code.
>
> Note: The result of executing a GraphQL operation may contain partial data as well as encountered errors. Errors that happen during execution of the GraphQL operation typically become part of the result, as long as the server is still able to produce a well-formed response. There's currently not an approved HTTP status code to use for a "partial response," contenders include WebDAV's status code "207 Multi-Status" and using a custom code such as "247 Partial Success." [IETF RFC2616 Section 6.1.1](https://datatracker.ietf.org/doc/html/rfc2616#section-6.1.1) states "codes are fully defined in section 10" implying that though more codes are expected to be supported over time, valid codes must be present in this document.

I believe this addresses this concern. (I don't think there's a suitable status code we can use, however we leave it up to the implementor if they want to use a special code, so long as it's 2xx.)