Clarify the use of HTTP GET and POST request

from [GraphQL over HTTP Spec](https://graphql.github.io/graphql-over-http/draft/#sec-Request)
> A server MUST accept POST requests, and MAY accept other HTTP methods, such as GET.

For semantics and performance (caching, etc.), it seems to me that it is recommended to use `GET` for the query operation.

If the options are not equivalent, it is necessary to clarify which is more appropriate.

One possible concern I could see with `GET` requests is the limited length of a URL. Some web server defaults:
- [Apache: 8190 bytes](https://httpd.apache.org/docs/2.4/mod/core.html#limitrequestline)
- [NGINX: 8 KB](http://nginx.org/en/docs/http/ngx_http_core_module.html#large_client_header_buffers)
- [Node: 80 KB](https://github.com/nodejs/http-parser/blob/ec8b5ee63f0e51191ea43bb0c6eac7bfbff3141d/http_parser.h#L65)

When fragments, unstripped comments, lots of variables and multiple levels of nesting involved, payloads can get quite large. A quick look at our application logs showed a few queries above 1000 characters.

@spawnia 

[RFC 7230](https://httpwg.org/http-core/draft-ietf-httpbis-messaging-latest.html#request.target)
> It is recommended that all HTTP senders and recipients support, at a minimum, It is recommended that all HTTP senders and recipients support, at a minimum, request-line lengths of 8000 octets.

That is certainly true.

What do you think about caching of query operation?
Caching using the `POST` method seems to be possible, but I am not familiar with it.

Some implementations have complex mechanisms for handling cache on the client side, but I doubt it is really necessary.

It would be helpful to have a description of caching in the Spec.

> 405 for GET is not allowed, as per the spec.
> 
> Just return some useful information about the endpoint (HTML, JSON...).

RFC 9110 section 9.1 says the _HTTP servers_ need to "support" GET/HEAD; not that they return 200 or any specific status code, or return relevant data.

> All general-purpose servers MUST support the methods GET and HEAD. All other methods are OPTIONAL

Further, the very next paragraph explains that "recognized and implemented" (i.e. "supported") methods of the server do not need to be allowed for every url:

> An origin server that receives a request method that is recognized and implemented, but not allowed for the target resource, SHOULD respond with the 405 (Method Not Allowed) status code.

Defining what methods are supported by the server itself is well outside the scope of this protocol.  The GraphQL over HTTP protocol is merely defining which method(s) for the configured url is handled by this spec.  While perhaps self-evident, maybe it could be clarified.

In other words, I think of "server" as used by RFC 9110 is talking about Apache/IIS/etc - a "general-purpose [http] server", whereas "server" when used within the GraphQL-over-HTTP document is typically talking about the specific handler that runs _within the context of a RFC 9110 compliant server (Apache/IIS/etc)_ to handle requests and return responses for specific url/method combinations.  We are not defining any general HTTP server behavior addressed by RFC 9110, such as protocol-version handling, field processing, URI processing, error handling, intermediary behavior, and protocol extensibility - and so whether GET/HEAD are "supported" by the underlying HTTP server is out of scope here.

> > 405 for GET is not allowed, as per the spec.
> > Just return some useful information about the endpoint (HTML, JSON...).
> 
> RFC 9110 section 9.1 says the _HTTP servers_ need to "support" GET/HEAD; not that they return 200 or any specific status code, or return relevant data.

This was also my immediate understanding. I'm a bit unclear what "support" mean in that context. I'm fine saying returning 405 is not properly supporting `GET` and I removed it from the options in [this comment](https://github.com/graphql/graphql-over-http/issues/205#issuecomment-5265572823). 

> While perhaps self-evident, maybe it could be clarified.
> whether GET/HEAD are "supported" by the underlying HTTP server is out of scope here.

Worth being clarified IMO. Even if out of scope, providing some non-normative guidance what to reply to `GET` would be welcome.

Irony alert:


>>    405 for GET is not allowed, as per the spec.
>>
>>    Just return some useful information about the endpoint (HTML, JSON...).
>
> RFC 9110 section 9.1 says the HTTP servers need to "support" GET/HEAD; not that they return 200 or any specific status code, or return
> relevant data.

https://greenbytes.de/tech/webdav/rfc9110.html#status.405 :

_The 405 (Method Not Allowed) status code indicates that the method received in the request-line is known by the origin server **but not supported** by the [target resource](https://greenbytes.de/tech/webdav/rfc9110.html#target.resource). The origin server MUST generate an [Allow](https://greenbytes.de/tech/webdav/rfc9110.html#field.allow) header field in a 405 response containing a list of the target resource's currently supported methods._

Is it correct to think that GET is required because a resource must exist in the first place? A GraphQL endpoint is just a transport, i.e. does not represent a resource, which may be why it doesn't fit well the requirement. One consequence is that a 200 with "hey, this is just GQL endpoint" is not as machine friendly, but maybe if the response and text are defined in the spec, it becomes easier to handle definitively.

GraphQL seems more aligned with HTTP QUERY, and I'm wondering how does the requirement for GET/HEAD support relate to HTTP QUERY? If a server supports HTTP QUERY at a given URL, what is it expected to return for GET/HEAD?

> Is it correct to think that GET is required because a resource must exist in the first place? A GraphQL endpoint is just a transport, i.e. does not represent a resource, which may be why it doesn't fit well the requirement.

I like this way of phrasing the question. Does GraphQL represent a "resource"? I'm not really sure.

> If a server supports HTTP QUERY at a given URL, what is it expected to return for GET/HEAD?

Some kind of guidance like "Hey, this is a GraphQL endoint. You can send operations to me using `QUERY` or `POST`" would probably be helpful for people/agents not super familiar with GraphQL (I know that info would also be in the `Allow` response header but the newcomers probably won't find it there).

HTTP QUERY describes an "equivalent resource" where a URL location may be associated with the result which becomes directly accessible via GET. Perhaps not applicable to GraphQL, but treats the question of what is the relationship of HTTP QUERY to a resource and HTTP GET. 

Pretty sure an HTTP _server_ MUST support the `GET` verb, but the given resource MAY return 405 for a GET request, to say that _resource_ doesn't support it. It would be wild if HTTP required that every mutation-only endpoint had to have a `GET` behavior other than 405 - returning 403 ("Forbidden" to issue GET to this resource) would be fine whether or not 405 is allowed, but 405 is clearly the better match and I can see no good reason why the HTTP spec should forbid it.

Great examples, @Shane32.